<div class="flex flex-col">
  <div class="flex">
    <%= form.input :full_name, placeholder: ' ' %>
    <%= form.input :date_birth, as: :date, placeholder: ' '%>
  </div>
  <div class="flex">
    <%= form.input :cpf, placeholder: ' '%>
    <%= form.input :cns, placeholder: ' '%>
  </div>
  <div class="flex">
    <%= form.input :email, placeholder: ' '%>
    <%= form.input :phone, placeholder: ' '%>
  </div>
  <div class="w-full">
    <%= form.input :active, as: :boolean, placeholder: ' '%>
  </div>
</div>
