<!DOCTYPE html>
<html>
<head>
  <title>Desafio Jedis</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.turbo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</head>

<body>

<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center">
    </a>
    <div class="flex items-center md:order-2">
      <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
        <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="inline-flex items-center justify-center w-3 h-3 p-3 ml-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
      </a>
      <button type="button" class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
        <%= image_tag("profile", class: 'w-8 h-8 rounded-full') %>
      </button>
      <!-- Dropdown menu -->
      <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600" id="user-dropdown">
        <div class="px-4 py-3">
          <span class="block text-sm text-gray-900 dark:text-white">João da Silva</span>
          <span class="block text-sm  text-gray-500 truncate dark:text-gray-400">joaozinhodev@desenvolvendome.com</span>
        </div>
        <ul class="py-2" aria-labelledby="user-menu-button">
          <li>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"><%= t('views.layouts.internal.settings') %></a>
          </li>
          <li>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"><%= t('views.layouts.internal.sign_out') %></a>
          </li>
        </ul>
      </div>
      <button type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only"><%= t('views.layouts.sr-only.open_menu') %></span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
  </div>
</nav>

<aside id="sidebar-multi-level-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <ul class="space-y-2 font-medium">
      <li>
        <%= link_to manager_home_path, class: "flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group" do %>

          <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
            <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
            <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
          </svg>
          <span class="flex-1 ml-3 whitespace-nowrap"><%= t('views.layouts.internal.dashboard') %></span>
          <span class="bg-purple-100 text-purple-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-purple-900 dark:text-purple-300"><%= t 'views.layouts.internal.new' %></span>
        <% end %>
      </li>
      <li>

      </li>
      <li>
        <button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-citizen">
          <svg fill="#000000" height="20px" width="20px" version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 256 256" xml:space="preserve">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path id="XMLID_7_" d="M123.5,127c2.7-2.5,6-3.9,9.4-3.9H251v15.8H136.9c-3.9,0-6,2.2-7.2,3.3c-5,4.7-38.5,35.5-38.5,35.5l-10.1-9.9 C81.1,167.9,118.8,131.4,123.5,127 M191.1,41.1c13.4,0,20.7-9.3,20.7-20.7c0-11.4-9.3-20.7-20.7-20.7c-11.4,0-20.7,9.3-20.7,20.7 C170.4,31.8,179.7,41.1,191.1,41.1 M160.4,76.6h6.9l-10.2,36.5H225l-10.2-36.5h6.9l10.5,36.5h17.9l-14.4-48.4 c-1.9-6.7-10.4-18.5-25-18.5h-39.4c-14.6,0-23.1,11.9-25,18.5L132,113.1h17.9L160.4,76.6z M101.8,111.2L93,94.8l-9.4-17.6 c0,0-1.1-1.6-3.1-0.7c-1.8,0.9-1,2.9-1,2.9l6,11.5l3.8,7.2l-4.3-2c-7.7-3.5-11.9-4.9-13.6-5.7c-0.3-0.1-1.8-1-2.5-2.5 c-2-4.5-10.6-26.2-12.5-31c-1.6-4.1-5.6-9.8-13.9-11.9c-9.4-2.3-18.9,3.6-21.1,13L8.6,112.2c-1.1,4.4-3.1,16.2-3.1,21.1 c0,5,0.1,105.6,0.1,105.6C5.6,247.9,12,255,20.9,255c8.9,0,15-7.3,14.9-16.2c0,0,0-57.5,0-89.5l13.7-57.7c1.6,3.9,3.6,8.7,4.2,9.8 c1.6,2.7,3.1,4.6,6.2,6c0,0,17.9,7.4,24.8,10.6c4.2,1.6,8.7,0.2,11.3-3.1l1-2l0.3,0.6c0,0,2,3.6,5.1,3.8 C103.3,114.5,101.8,111.2,101.8,111.2 M74.1,20.2c0-11.4-9.3-20.7-20.7-20.7C42-0.4,32.8,8.8,32.8,20.2c0,11.4,9.3,20.7,20.7,20.7 C64.9,40.9,74.1,31.7,74.1,20.2 M83.4,155.2l40.3-37.5l-5.2-5.6l-40.3,37.5L83.4,155.2z"></path>
            </g>
          </svg>
          <span class="flex-1 ml-3 text-left whitespace-nowrap">Cadastros</span>
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </button>
        <ul id="dropdown-citizen" class="hidden py-2 space-y-2">
          <li>
            <%= link_to manager_citizens_path, class: "flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" do %>
              <svg height="15px" width="15px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                  <style type="text/css"> .st0 {
                      fill: #000000;
                  } </style>
                  <g>
                    <path class="st0" d="M458.159,404.216c-18.93-33.65-49.934-71.764-100.409-93.431c-28.868,20.196-63.938,32.087-101.745,32.087 c-37.828,0-72.898-11.89-101.767-32.087c-50.474,21.667-81.479,59.782-100.398,93.431C28.731,448.848,48.417,512,91.842,512 c43.426,0,164.164,0,164.164,0s120.726,0,164.153,0C463.583,512,483.269,448.848,458.159,404.216z"></path>
                    <path class="st0" d="M256.005,300.641c74.144,0,134.231-60.108,134.231-134.242v-32.158C390.236,60.108,330.149,0,256.005,0 c-74.155,0-134.252,60.108-134.252,134.242V166.4C121.753,240.533,181.851,300.641,256.005,300.641z"></path>
                  </g>
                </g>
              </svg>
              <span class="flex-1 ml-3 whitespace-nowrap"><%= t('views.layouts.internal.citizen') %></span>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>

<div class="p-4 sm:ml-64">
  <% if notice.present? %>
    <div id="sticky-banner" tabindex="-1" class="flex justify-between w-full p-4 border-b mb-4
        <%= 'bg-blue-50 text-blue-600 border-blue-200' %>
        <%= 'bg-green-50 text-green-600 border-green-200' if notice.include?('cadastrad') %>
        <%= 'bg-yellow-50 text-yellow-600 border-yellow-200' if notice.include?('atualizad') %>
        <%= 'bg-red-50 text-red-600 border-red-200' if notice.include?('apagad') %>
        dark:border-gray-600">
      <div class="flex items-center mx-auto">
        <!-- Ícone baseado no tipo de mensagem -->
        <% if notice.include?('cadastrad') %>
          <i class="fa fa-circle-plus"></i>
        <% elsif notice.include?('atualizad') %>
          <i class="fa fa-square-pen"></i>
        <% elsif notice.include?('apagad') %>
          <i class="fa fa-trash-can"></i>
        <% else %>
          <i class="fa fa-check-circle"></i>
        <% end %>
        <p class="flex items-center text-sm font-normal ml-2">
          <%= notice %>
        </p>
      </div>
    </div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
